<template>
    <div class="page-message failure">
        <img class="page-message__logo" src="/img/white-M.svg" alt="">
        <img class="page-message__image" src="/img/sorry-ilustracion.svg" alt="">
        <h2 class="page-message__title">Lo sentimos</h2>
        <p class="page-message__text">No hemos podido completar tu solicitud por favor inténtalo mas tarde</p>
        <hr class="page-message__line">
        <a class="page-message__link" v-on:click="reloadPage" href="javascript:;"><strong>Volver a planes</strong></a>
    </div>
</template>

<script>
export default {
    methods :  {
        reloadPage() {
            window.location.reload(true);
        }
    }
}
</script>
<style lang="scss">
    @mixin xs() {
        @media (max-width: 767px) {
            @content;
        }
    }
    $blue: #019DF4;
    .page-message{
        min-height: 768px;
        background-color: $blue;
        text-align: center;
        padding: 50px 20px 186px 20px;
        @include xs {
            min-height: 590px;
            padding: 20px 40px 125px 40px;
            height: 100vh;
        }
        &__logo{
            display: block;
            margin: 0 auto 104px auto;
        }
        &__image{
            margin-bottom: 25px;
            @include xs {
                width: 100px;
                height: 140px;
            }
        }
        &__title{
            font-weight: 300;
            color: white;
            font-size: 40px;
            margin-bottom: 10px;
            @include xs {
                font-size: 32px;
            }
        }
        &__text{
            color: white;
            font-size: 18px;
        }
        &__line{
            border: 1px solid rgba(255, 255, 255, 0.25);
            max-width: 524px;
            margin: 20px auto 30px auto;
        }
        &__subtitle{
            color: white;
            font-size: 18px;
        }
        &__link{
            display: flex;
            margin: 0 auto;
            min-height: 56px;
            max-width: 280px;
            background-color: white;
            align-items: center;
            justify-content: center;
            color: $blue;
            font-size: 16px;
            border-radius: 40px;
            margin-top: 30px;
            @include xs {
                margin-top: 50px;
            }
            strong{
                font-weight: bold;
            }
        }
    }
</style>
