<template>
    <div id="step-2" class="form-step active">
        
        

        <div style="display:none">
            <input type="hidden" v-model="form_information">
        </div>
        <div :class="region_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Región</label>
                <select :disabled="regionList == null" class="input-padding-l-65" :class="{data : (region != null && region != '' )}" ref="region" v-on:change="reloadCommunes" placeholder="Region" v-model="region" required>
l                    <option v-for="(item, index) in regionList" v-bind:key="index" :value="item.acron">{{item.name}}</option>
                </select>
            </div>
            <span class="field-error" id="error_region_id">{{region_error}}</span>
        </div>
        <div :class="commune_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Comuna</label>
                <select :disabled="communeList == null" class="input-padding-l-75" :class="{data : (commune != null && commune != '' )}" ref="commune" placeholder="Comuna" v-model="commune" name="commune_id" id="commune_id" required>
                    <option v-for="(item, index) in communeList" v-bind:key="index" :value="item.id">{{item.name}}</option>
                </select>
            </div>
            <span class="field-error" id="error_commune_id">{{commune_error}}</span>
        </div>
        <div :class="street_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Calle</label>
                <input class="input-padding-l-60" :class="{ data: (street != null && street != '')}" v-model="street" type="text" required name="street" id="street" placeholder="Ej: Marcoleta" />
            </div>
            <span class="field-error" id="error_street">{{street_error}}</span>
        </div>
        <div :class="number_street_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Número</label>
                <input class="input-padding-l-75" :class="{ data: (number_street != null && number_street != '')}" v-model="number_street" type="text" name="number" id="number" placeholder="Ej: 5670" maxlength="6" required />
            </div>
            <span class="field-error" id="error_number">{{number_street_error}}</span>
        </div>
        <div :class="apartment_number_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">N&deg; de Depto, Casa u oficina</label>
                <input class="input-padding-l-200" :class="{ data: (apartment_number != null && apartment_number != '')}" v-model="apartment_number" type="text" name="apartment" id="apartment" maxlength="6"
                    placeholder="Ej: 123 (opcional)" />
            </div>
            <span class="field-error" id="error_apartment">{{apartment_number_error}}</span>
        </div>
        <div :class="aditional_information_error == '' ? 'form-group' : 'form-group error'">
            <div class="input label-top">
                <textarea class="input-padding-l-145" :class="{ data: (aditional_data != null && aditional_data != '')}" v-model="aditional_data" name="additional_info" id="additional_info" placeholder="Ej: Torre 3 (opcional)"
                    maxlength="600" required></textarea>
                <label for="">Datos Adicionales</label>
                
            </div>
        </div>

        <div :class="{'form-group' : true, 'form-group--direccion' : true, 'error-border' : newStreetError , 'error' : newStreetError}">
            <div class="form-check">
                <input :disabled="checkIsDisabled" type="checkbox" v-model="use_current_street">
                <label class="checkbox-cont" for="">
                    <i class="checkbox-mask"></i>
                    <p class="checkbox-text" v-html="textDirectionChipMobile"></p>
                </label>
            </div>
            <hr>

                <modalOtherAdress :isPlanBEnabled="isPlanB" v-on:enabledCheckSignal="enabledChecked" v-on:disabledCheckSignal="disabledChecked"/>
                <span class="field-error cutom-address-new-error" :style="{display : (newStreetError) ? 'block' : 'none'}">{{use_current_street_error}}</span>
        </div>

        <div class="button-container">
            <span class="form-error"></span>
            <button v-on:click.prevent="sendSubmit" href="javascript:;">
                <span v-show="loading == false">Enviar solicitud</span>
                <div  :style="{ display: (loading) ? 'block' : 'none' }" class="loader"></div>
            </button>
        </div>
    </div>
</template>

<script>
import modal_other_address from './modal_other_address.vue';

const TEXT_MOBILE_SEND = 'Usar esta dirección para el <strong>envío del chip móvil</strong>';
const TEXT_MOBILE_SEND_DUAL = 'Usar esta dirección para el <strong>envío de los chips móviles</strong>';

const FORM_GET_INFO = _GLOBALPAYLOAD;

    export default {
        props : ['setValidation', 'setLoaderToSubmit', 'isPlanBEnabled' ],
        components : {
            'modalOtherAdress' : modal_other_address
        },
        data() {
            return {

                textDirectionChipMobile:     (this.isPlanBEnabled) ? TEXT_MOBILE_SEND_DUAL : TEXT_MOBILE_SEND,
                regionList:                  null,
                communeList:                 null,
                region:                      null,
                commune:                     null,
                street:                      null,
                number_street:               null,
                apartment_number:            null,
                aditional_data:              null,
                form_information:            null,
                use_current_street:          null,
                loading:                     false,
                disableButtonStatus:         false,
                checkIsDisabled:             false,
                region_error:                '',
                commune_error:               '',
                street_error:                '',
                number_street_error:         '',
                apartment_number_error:      '',
                aditional_information_error: '',
                use_current_street_error:    '',
                newStreetError:              false,
                isPlanB:                     this.isPlanBEnabled

            }
        },
        methods: {

            enabledChecked() {
                console.log('evento b')
                this.checkIsDisabled = false;
                // this.textDirectionChipMobile = TEXT_MOBILE_SEND;
            },

            disabledChecked(){
                console.log('evento a')
                this.checkIsDisabled = true;
                this.use_current_street = false;

                // this.textDirectionChipMobile = TEXT_MOBILE_SEND_DUAL;
            },
            
            sendSubmit() {

                //this.disableButtonStatus = true;

                this.$emit('sendSubmit')
            },

           getRegionList() {
                axios
                    .get('/api/region')
                    .then( (response) => {
                        let data = {acron : null, name : 'Selecciona una región'}
                        
                        response.data.data.unshift(data);
                        this.regionList = response.data.data;
                        this.communeList = [];
                        this.communeList.unshift({id : null, name : 'Selecciona una comuna'})

                        this.region     = response.data.data[0].acron

                        placeholderMovistar();
                        try {
                            // this.$refs.region.focus();
                            //this.$refs.commune.focus();
                        } catch (error) {}
                        
                       // this.getCommunesList()
                    } )
            },

            getCommunesList() {
                this.communeList = null;
                axios
                    .get(`/api/commune/byRegion/${this.region}`)
                    .then( (response) => {
                        this.communeList = [];
                        response.data.data.unshift({id : null, name : 'Selecciona una comuna'})
                        this.communeList = response.data.data
                        try {
                            // this.$refs.commune.focus();
                        } catch (error) {}
                    } )
            },

            reloadCommunes() {
                this.getCommunesList()
            },

            setFormInformation() {
                this.form_information = FORM_GET_INFO;
                this.$store.state.planFullForm.form_information = FORM_GET_INFO;
            },
        },

        mounted() {
            this.$nextTick(this.getRegionList)
            this.$nextTick(this.setFormInformation)
            
            // Llamada de Funcion Global
            placeholderMovistar();
            
        },

        watch : {

            getDisabledCheckNewAddress() {
                // console.log('obtenido el dato')
            },

            setLoaderToSubmit( value ) {
                this.loading = value;
            } ,

            setValidation(values) {

                const messages = {
                    required : '* El %s es requerido.',
                    numeric: '* El %s debe ser un número',
                    email : '* El %s debe ser valido',
                    apartmentNumber : '* El número de la calle debe contener letras y/o números solamente'
                }

                this.region_error                = ''
                this.commune_error               = ''
                this.street_error                = ''
                this.number_street_error         = ''
                this.apartment_number_error      = ''
                this.aditional_information_error = ''
                this.newStreetError              = false;


                if( typeof(values) != 'undefined' ) {
                    for(let i in values.nodes) {
                        let item = values.nodes[i];

                        item.forEach( element => {

                            let label = '';

                            switch(i) {
                                case 'region':
                                    label = 'región'
                                    break;
                                case 'commune':
                                    label = 'comuna'
                                    break;
                                case 'street':
                                    label = 'calle'
                                    break; 
                                case 'number_street':
                                    label = 'número de la calle'
                                    break;
                                case 'apartment_number':
                                    label = 'número apartamento'
                                    break;
                                case 'aditional_information':
                                    label = 'información adicional'
                                    break;
                            }

                            if(element.required) {
                                let message = messages.required.replace('%s', label);
                                

                                switch(i) {
                                    case 'region':
                                        this.region_error = message.replace('El','La');
                                        break;
                                    case 'commune':
                                        this.commune_error = message.replace('El', 'La');
                                        break;
                                    case 'street':
                                        this.street_error = message.replace('El', 'La');
                                        break; 
                                    case 'number_street':
                                        this.number_street_error = message.replace('El', 'La');
                                        break;
                                    case 'apartment_number':
                                        this.apartment_number_error = messsage;
                                        break;
                                    case 'use_current_check' :
                                        this.newStreetError = true;
                                        this.use_current_street_error = '* Selecciona una opción';

                                        break;
                                   
                                }
                            }
                            
                            if(element.numeric) {
                                let message = messages.numeric.replace('%s', label);
                                
                                switch(i) {
                                    case 'commune':
                                        this.commune_error = message
                                        break;
                                   
                                    case 'number_street':
                                        this.number_street_error = message
                                        break;
                                    
                                }
                            
                            }

                            if( element.apartmentNumber ) {
                                let message = messages.apartmentNumber.replace('%s', label);
                                this.apartment_number_error = message
                            }

                            

                        } )

                    }
                }


                this.disableButtonStatus = false;
            },

            region() {
                this.$store.state.planFullForm.region = this.region;
            },
            commune() {
                this.$store.state.planFullForm.commune = this.commune;
            },
            street() {
                this.$store.state.planFullForm.street = this.street;
            },
            number_street() {
                this.$store.state.planFullForm.number_street = this.number_street;
            },
            apartment_number() {
                this.$store.state.planFullForm.apartment_number = this.apartment_number;
            },
            aditional_data() {
                this.$store.state.planFullForm.aditional_information = this.aditional_data;
            } ,

            use_current_street() {
                this.$store.state.planFullForm.use_current_street = this.use_current_street;
            }
        }
        

    }

</script>

<style scoped>
.error-border {
    border: 1px solid red;
}
</style>
