<template>

    <div :class="{messageInfo: true}">

        <div :class="{errorMsg: errorClass, warningMsg: warningClass}"> 
            <div>{{ titleMessage() }}</div>
            <div>
                <ul>
                    <li v-for="error in errorList" v-bind:key="error"> {{ error }} </li>
                </ul>
            </div> 
        </div> 

    </div>

</template>
<script>
export default {
    props: ['errorList', 'type'], 
    data() {
        return {
            errorClass: ( this.type === 'error' ),
            warningClass:( this.type === 'warning')
        }
    },

    methods: {
        titleMessage() {
            let count = this.errorList.length;

            let message = 'El formulario presenta los siguientes inconvenientes: '

            return message;

        }
    },

    filters: {
        arrayToListHtml( value ) {
        }
    }
}
</script>

<style lang="scss" scoped>
    $warning-background-color: #fff3cd;
    $warning-border-color: #ffeeba;
    $warning-text-color: #181A39;
    $font-family: 'telefonica';

    .messageInfo {
        padding-top:20px;
    }

    .warningMsg {
        border: 1px solid $warning-border-color;
        background-color: $warning-background-color;
        padding: 20px;
        color: $warning-text-color;
        font-family: $font-family;
        margin-left: 9%;
        margin-right: 9%;
    }

    ul {
        list-style: disc !important;
        margin-left: 28.5px;
        margin-top: 18.5px;
    } 
</style>
