<template>
  <div class="direccion-agregar">
    <div class="direccion-envio" v-show="withInformation">
      <strong v-show="isPlanBEnabled">Tus chips m&oacute;viles ser&aacute;n enviados a:</strong>
      <strong v-show="! isPlanBEnabled">Tu chip m&oacute;vil ser&aacute; enviado a:</strong>
      <br>
      <div v-html="directionInformation"></div>
    </div>
    
    <a class="direccion-text" v-show="withInformation == false" v-on:click="showModal = true" href="javascript:;"><i class="direccion-plus"></i> Agregar otra dirección</a>
    <a class="direccion-text" v-show="withInformation" v-on:click="showModal = true" href="javascript:;"><img class="direccion-edit" src="/img/ico-edit.svg" alt="">Editar</a>
    <a href="javascript:;" class="direccion-text direccion-delete" v-show="withInformation" v-on:click="clearOtherAddressInformation"><img class="direccion-edit" src="/img/ico-delete.svg" alt="">Eliminar</a>


    <modal v-if="showModal" @close="showModal = false">
      
      <div slot="header" v-on:click="processCloseOption" class="modal-close">
        <span></span>
        <span></span>
      </div>

      <h3 v-show="! isPlanBEnabled" slot="header">
        Ingresa la dirección donde quieres<br />
        enviemos tu chip móvil
      </h3>

      <h3 v-show="isPlanBEnabled" slot="header">
        Ingresa la dirección donde quieres<br />
        enviemos tus chips móviles
      </h3>
      <div slot="body">
        <div :class="{ 'form-group' : true , error : (region_error != '')}">
          <div class="input">
            <label for="">Regi&oacute;n</label>
            <select
              :disabled="regionList == null"
             class="input-padding-l-75"
             :class="{data : (region != null && region != '' )}"
              ref="region"
              v-model="region"
              v-on:change="reloadCommunes"
              v-on:click="reloadFunctionPlaceholder"
              placeholder="Region"
              required
l            >
             <option v-for="(item, index) in regionList" v-bind:key="index" :value="item.acron">{{item.name}}</option>
            </select>
          </div>
          <span class="field-error" id="error_region_id">{{region_error}}</span>
        </div>
        <div :class="{ 'form-group' : true, error : (commune_error != '') }">
          <div class="input">
            <label for="">Comuna</label>
            <select :disabled="communeList == null" class="input-padding-l-85" :class="{data : (commune != null && commune != '' )}" ref="commune" v-model="commune" placeholder="Comuna" required>
              <option v-for="(item, index) in communeList" v-bind:key="index" :value="item.id">{{item.name}}</option>
            </select>
          </div>
          <span class="field-error" id="error_region_id">{{commune_error}}</span>
        </div>
        <div :class="{ 'form-group' : true, error : ( street_error != '' ) }">
          <div class="input">
            <label for="">Calle</label>
            <input class="input-padding-l-65" :class="{ data: (street != null && street != '')}" type="text" ref="street" id="streetTest" placeholder="Ej: Marcoleta" v-model="street" maxlength="50" />
          </div>
          <span class="field-error" id="error_region_id">{{street_error}}</span>
        </div>
        <div :class="{ 'form-group' : true, error : ( number_street_error != '' ) }">
          <div class="input">
            <label for="">N&uacute;mero</label>
            <input
              class="input-padding-l-85"
              :class="{ data: (number_street != null && number_street != '')}"
              type="text"
              placeholder="Ej: 5670"
              v-model="number_street"
              maxlength="6"
              />
          </div>
          <span class="field-error" id="error_region_id">{{number_street_error}}</span>
        </div>
        <div :class="{ 'form-group' : true , error : ( apartment_number_error != '' )}">
          <div class="input">
            <label for="">Nº Depto, casa u oficina</label>
            <input
              class="input-padding-l-210"
              :class="{ data: (apartment_number != null && apartment_number != '')}"
              type="text"
              placeholder="Ej: 123"
              v-model="apartment_number"
              maxlength="6"
              />
          </div>
          <span class="field-error" id="error_region_id">{{apartment_number_error}}</span>
        </div>
        <div :class="{'form-group' : true, 'form-group--margin-b' : true, error : ( aditional_information_error != '' )}">
          <div class="input">
            <label for="">Datos adicionales</label>
            <textarea
              class="input-padding-l-170"
              :class="{ data: (aditional_information != null && aditional_information != '')}"
              maxlength="600"
              type="text"
              placeholder="Ej: Torre 3"
              v-model="aditional_information"
              ></textarea>
          </div>
          <span class="field-error" id="error_region_id">{{aditional_information_error}}</span>
        </div>
      </div>

      <div slot="footer">
        <button class="modal-default-button" v-on:click="pressOk">Agregar</button>
      </div>
    </modal>
  </div>
</template>

  <script>
  import {ValidationsMov} from './../utilities/ValidationsMov.js';

  export default {
    props : ['isPlanBEnabled'],
    data() {
      return {
        regionList:                  null,
        communeList:                 null,
        showModal:                   false,
        region:                      null,
        commune:                     null,
        street:                      null,
        number_street:               null,
        apartment_number:            null,
        aditional_information:       null,
        withInformation:             false,
        directionInformation:        '',
        region_error:                "",
        street_error:                "",
        commune_error:               "",
        number_street_error:         "",
        apartment_number_error:      "",
        aditional_information_error: "",
        formError:                   false,
        isPlanB:                     this.isPlanBEnabled

      };
    },

    methods : {

      checkIfAllDataIsNull() {
        let data = [];

        data.push(this.commune)
        data.push(this.street)
        data.push(this.number_street)

        let check = data.map( item => item == null )

        let existNull = data.find(s => s == true)

        return typeof( existNull ) == 'undefined'; 

      },

      checkIfAllDataIsEmpty() {

        let data = [];

        data.push(this.commune)
        data.push(this.street)
        data.push(this.number_street)

        let check = data.map( item => item == '')

        let existEmpty = data.find(s => s == true )

        return typeof(existEmpty) == 'undefined'; 

      },

      processCloseOption() {

        if( this.checkIfAllDataIsEmpty() || this.checkIfAllDataIsNull() ) {
          this.showModal = false;

          this.clearOtherAddressInformation();
          return;
        }

        if( ! this.checkIfAllDataIsNull() || ! this.checkIfAllDataIsEmpty() ) {


            this._validaData();
            if( ! this.formError ) {
              // this.clearOtherAddressInformation();
              this.showModal = false;
              return;
            }
        }

      },


      clearOtherAddressInformation() {
        this.region                = null;
        this.commune               = null;
        this.street                = null;
        this.number_street         = null;
        this.apartment_number      = null;
        this.aditional_information = null;
        this.withInformation       = false;
      
        this.$store.state.planFullForm.other_direction.region                = null;
        this.$store.state.planFullForm.other_direction.commune               = null;
        this.$store.state.planFullForm.other_direction.street                = null;
        this.$store.state.planFullForm.other_direction.number_street         = null;
        this.$store.state.planFullForm.other_direction.apartment_number      = null;
        this.$store.state.planFullForm.other_direction.aditional_information = null;

        this.region_error                = '';
        this.commune_error               = '';
        this.street_error                = '';
        this.number_street_error         = '';
        this.apartment_number_error      = '';
        this.aditional_information_error = '';

        this.$emit('enabledCheckSignal');
      },

      pressOk() {

        if( this._validaData() ) {
          this.showModal = false;
          this.$emit('disabledCheckSignal');
        }
        
      },

      reloadFunctionPlaceholder() {
        placeholderMovistar();
      
        // parche muchas veces en la funcion placeholderMovistar no encuentra este nodo al inicio
        this.$refs.region.parentNode.classList.add('active'); 
      },

      _validaData() {

        const messages = {
            required : '* El %s es requerido.',
            numeric: '* El %s debe ser un numero',
            email : '* El %s debe ser valido',
            apartmentNumber : '* El número de la calle debe contener letras y/o números solamente'
        };

        let sin_errores = true;

        this.region_error           = '';
        this.commune_error          = '';
        this.street_error           = '';
        this.number_street_error    = '';
        this.apartment_number_error = '';
        this.formError              = false;


        if(this.region == null || this.region == '') {
          this.region_error = messages.required.replace('%s', 'región');
          sin_errores = false;
        }

        if(this.commune == null || this.commune == '') {
          this.commune_error = messages.required.replace('%s', 'comuna');
          sin_errores = false;
        }

        if(this.street == null || this.street == '') {
          this.street_error = messages.required.replace('%s', 'Calle');
          sin_errores = false;
        }

        if(this.number_street == null || this.number_street == '' ) {
          this.number_street_error = messages.required.replace('%s', 'Número calle');
          sin_errores = false;
        }

        if(! ValidationsMov.numeric( this.number_street )) {
          this.number_street_error = messages.numeric.replace('%s', 'Número calle');
          sin_errores = false;
        }

        if(! ValidationsMov.apartmentNumber( this.apartment_number )) {
          this.apartment_number_error = messages.apartmentNumber.replace('%s', 'Número apartamento');
          sin_errores = false;
        }


        this.formError = ! sin_errores;

        if(sin_errores) {
          this.withInformation = true;
          this.renderInformation();
          this.formError = false;
        } 
      

        return sin_errores;
      },

      getRegionList() {
            axios
                .get('/api/region')
                .then( (response) => {
                  
                    let data = {acron : null, name : 'Selecciona una región'}
                    response.data.data.unshift(data)
                    this.regionList = response.data.data
                    this.region     = response.data.data[0].acron
                    this.communeList = [];
                    this.communeList.unshift({id : null, name : 'Selecciona una comuna'})
                    
                    placeholderMovistar();
                    try {

                      // this.$refs.region.focus();
                      //this.$refs.commune.focus();
                    } catch (error) {}
                  

                   // this.getCommunesList()


                } )
        },

        getCommunesList() {
            this.communeList = null;
            axios
                .get(`/api/commune/byRegion/${this.region}`)
                .then( (response) => {
                    this.communeList = [];
                    
                  let data = {id : null, name : 'Selecciona una comuna'}
                    response.data.data.unshift(data);

                    this.communeList = response.data.data;
                    try {
                        // this.$refs.commune.focus();
                    } catch (error) {}
                } )
        },

        reloadCommunes() {
            this.getCommunesList()
        },

        renderInformation() {
          
          let communeSelector = this.communeList.find(s => s.id == this.commune);
          let regionSelector = this.regionList.find(s => s.acron == this.region);

          let dpto = (this.apartment_number != null && this.apartment_number != '') ? `, dpto ${this.apartment_number}` : '';

          this.directionInformation = `
            <p>${this.street} ${this.number_street}${dpto}. ${communeSelector.name}.</p>
            <p>Regi&oacute;n ${regionSelector.name}</p>
          `;
        }


    },

   watch : {

        

        region() {
          this.$store.state.planFullForm.other_direction.region = this.region;
        },
        
        commune() {
          this.$store.state.planFullForm.other_direction.commune = this.commune;
        } ,

        street() {
          this.$store.state.planFullForm.other_direction.street = this.street;
        },
      
        number_street() {
          this.$store.state.planFullForm.other_direction.number_street = this.number_street;
        } ,
        
        apartment_number() {
          this.$store.state.planFullForm.other_direction.apartment_number = this.apartment_number;
          } ,
        
        aditional_information() {
          this.$store.state.planFullForm.other_direction.aditional_information = this.aditional_information;
        },

        showModal() {
        
          
          
          setTimeout(()=> {
            placeholderMovistar();//TODO no puede encontrar los inputs sin en timeout 
            
          },1000);


          if(this.showModal) {
            document.querySelector('body').classList.add('overflow')
          } else {
            document.querySelector('body').classList.remove('overflow')
          } 
        }


      },


    mounted() {
      this.$nextTick(this.getRegionList)

      setTimeout(()=>{
        placeholderMovistar();//TODO no puede encontrar los inputs sin en timeout 
      },500)
    },
  };
  </script>


  <style>
  .overflow{
    overflow: hidden;
    overflow-y: hidden!important;
  }
  .modal-close{
    width: 32px;
    height: 32px;
    background-color: #EBF7FF;
    border: 1px solid #019DF4;
    border-radius: 50%;
    position: absolute;
    top: 15.5px;
    right: 27.5px;
    cursor: pointer;
  }

  .modal-close span{
    position: absolute;
    display: block!important;
    background-color: #019DF4;
    width: 12px;
    height: 1px;
    top: 50%;
    left: 50%;
    margin: 0!important;
  }

  .modal-close span:first-of-type{
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .modal-close span:last-of-type{
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 50, 53, 0.9);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    margin: 0px auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 653px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    max-height: 100vh;
  }

  .modal-header h3 {
    font-family: "telefonica";
    margin-top: 0;
    color: #50535a;
    font-size: 18px;
    margin-bottom: 22px;
    text-align: center;
  }

  .modal-body {
    margin: 20px auto;
    max-width: 328px;
  }

  .modal-body .form-group {
    width: 100%;
  }

  .modal-body .form-container .form-group {
    margin-bottom: 25px;
  }

  .form-group--margin-b{
    margin-bottom: 20px!important;
  }

  .modal-default-button {
    display: block;
    background: #019df4;
    color: white;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    padding: 18.5px 15px;
    font-size: 16px;
    font-weight: bold;
    max-width: 280px;
    cursor: pointer;
    text-align: center;
    min-height: 56px;
    width: 100%;
    margin: 0 auto;
    font-family: telefonica;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .direccion-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16.5px 5px;
    flex-wrap: wrap;
  }

  .direccion-text{
    color: #019DF4;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .direccion-text:first-child {
    width: 100%;
  }

  .direccion-delete {
    position: relative;
  }

  .direccion-delete:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background-color: #E9EAE8;
  }

  .direccion-plus{
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #019DF4;
    background-color: #EBF7FF;
    margin-right: 10px;
    display: inline-block;
  }

  .direccion-plus:after,
  .direccion-plus:before{
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    background-color: #019DF4;
    top: 50%;
    left: 50%;
  }

  .direccion-plus:after{
    transform: translate(-50%, -50%);
  }

  .direccion-plus:before{
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .direccion-envio{
    color: #50535A;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .direccion-envio strong{
    font-weight: bold;
  }

  .direccion-edit{
    position: relative;
    margin-right: 10px;
    display: inline-block;
  }

  @media (max-width: 768px) {
    .modal-container {
      width: calc(100% - 40px);
      height: 95vh;
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .modal-footer {
      margin-bottom: 20px;
    }
  }
</style>
