<template>
        <div class="side-detail" v-bind:class="{ 'is-expand': expandBlock }">
          <div class="side-detail__header">

           <h3 class="side-detail__header-title-desktop">Detalle de tu solicitud</h3>
            <h3 class="side-detail__header-title-mobile" >Detalle de solicitud <br><span>Plan Movistar Con Todo</span>
              <img v-on:click.prevent="closeTrigger()" class="arrow up" src="/img/ico-arrow.svg" alt=""/>
            </h3>
          </div>

          <div class="side-detail__content">
            <h4 class="side-detail__content-title">Tu plan incluye:</h4>
            <ul class="side-detail__content-plan-lists">
              <li v-for="(detail, index) in detailsList" v-bind:key="index"  class="side-detail__content-plan-list"> {{ detail }} </li>
            </ul>
            <ul v-show="hasLegalText" class="side-detail__content-plan-lists-plus">
              <li class="side-detail__content-plan-list"> {{ renderLegalText() }}</li>
            </ul>
            <hr>
            <ul class="side-detail__content-price-lists">
                <li class="side-detail__content-price-list">
                  <p class="side-detail__content-text left">Precio normal</p>  
                  <p class="side-detail__content-text right black">{{planPrice | moneyFormat}}/mes</p>
                </li>
                <li v-show="displayDiscount()" class="side-detail__content-price-list">
                  <p class="side-detail__content-text left">Descuento web por 12 meses</p>  
                  <p class="side-detail__content-text right pink">-{{ planPriceWithDiscount | moneyFormat }}/mes</p>
                </li>
            </ul>
            <div class="side-detail__footer">
                <h4 class="side-detail__footer-title">Total pago mensual</h4>
                <div class="side-detail__footer-blocks">
                  <div v-show="displayDiscount()" class="side-detail__footer-block">
                    <strong class="side-detail__footer-text green">{{ calculateDiffDiscount()| moneyFormat}}/mes</strong>
                      <p class="side-detail__footer-text">Del mes 1 al 12</p>
                  </div>
                  <div class="side-detail__footer-block">
                    <strong class="side-detail__footer-text black">{{planPrice | moneyFormat}}/mes</strong>
                      <p v-show="displayDiscount()" class="side-detail__footer-text">Desde el mes 13</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

</template>

<script>
export default {
  props : [
    'isExpand', 
    'planPrice', 
    'planPriceWithDiscount', 
    'planDetails', 
    'legalText'
  ],

  mounted() {
    this.renderLegalText();
  },

  data() {
    return {
      detailsList : ( this.planDetails ),
      expandBlock: false ,
      hasLegalText : false
    } 
  },

  methods : {

    renderLegalText() {


      if( this.legalText.legal_text === null 
        || ( this.legalText.legal_text != null && this.legalText.legal_text.trim().length === 0) ) {
        console.log( 'error no text' )
        return;
      }

      this.hasLegalText = true;
      return this.legalText.legal_text;
    },

    closeTrigger() {
      this.expandBlock = ( this.expandBlock ) ? false : true;
      document.body.classList.remove("hidden");
    },

    displayDiscount() {
      return this.planPriceWithDiscount > 0;
    },

    calculateDiffDiscount() {

      return this.planPrice - this.planPriceWithDiscount;

    },

  },

  watch: {
    isExpand() {
      // first time trigger this when user click the arrow
      this.expandBlock = ( this.expandBlock ) ? false : true;
      document.body.classList.add("hidden");
    },
  },

  filters: {
    moneyFormat( value ) {
      // function equivalent to number_format on php
      // Strip all characters but numerical ones.
      let decimals = 0;
      let dec_point = '.';
      let thousands_sep = '.';
      let number = value;
      number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
        };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
      if (s[0].length > 3) {
          s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || '').length < prec) {
          s[1] = s[1] || '';
          s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return '$' + s.join(dec);
    }
  }

  
}
</script>

<style lang="scss" >


.arrow{
  position: absolute;
  right: 25px;
  top: 28px;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  &.up{
    transform: rotate(180deg);
  }
}

.side-detail {
  width: 100%;
  max-width: 352px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0px 1px 3px #8a959e3d;
  border-radius: 8px;
  margin-left: 10px;
  height: 654px;
  @media (max-width: 768px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-width: inherit;
    margin-bottom: 0;
    height: 100%;
    margin-left: 0;
    display: none;
    &.is-expand{
      top: 0;
      display: block;
    }
  }
  &__header{
    background-color: #EBF7FF;
    text-align: center;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    @media (max-width: 768px) {
      background-color: #019DF4;
      text-align: center;
      height: 64px;
      padding: 10px;
      position: relative;
    }
    &-title{
      font-family: "telefonica";
      font-size: 18px;
      color: #50535A;
      &-desktop{
        @media (max-width: 768px) {
          display: none;
        }
      }
      &-mobile{
        display: none;
        @media (max-width: 768px) {
          display: block;
          width: 100%;
          text-align: center;
          color: white;
          font-weight: bold;
          font-size: 16px;
          span{
            opacity: 0.75;
            font-size: 14px;
            font-weight: 400;  
          }
        }
      }
    }
  }
  &__content{
    background-color: white;
    padding: 25px 17.5px 0 17.5px;
    position: relative;
    height: calc(100% - 225px);
    height: calc(100% - 75px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 5;
    @media (max-width: 768px) {
      padding: 24px 25px;
      height: calc(100vh - 64px);
      background-color: #F5F5F5;
    }
    &-title{
      font-size: 16px;
      color: #313235;
      font-weight: bold;
      margin-left: 12.5px;
      margin-bottom: 10px;
    }
    &-text{
      color: #86888C;
      font-size: 16px;
      font-family: "telefonica";
      &.pink{
        color: #E63780;
      }
      &.black{
        color: #313235;
      }
      &.left{
        float: left;
      }
      &.right{
        float: right;
      }
    }
    &-plan-lists{
      list-style-type: disc;
      margin-left: 28.5px;
      margin-bottom: 21.5px;
    }
    &-plan-lists-plus{
      list-style: none;
      margin-left: 28.5px;
      margin-bottom: 21.5px;
      
      li::before {
        content: "+";
      }
    }
    &-plan-list{
      font-family: "telefonica";
      color: #181A39;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    &-price-lists{
      list-style-type: disc;
      margin-left: 17.5px;
    }
    &-price-list{
      color: #E63780;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  &__footer{
    min-height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -8px 11px #0000000F;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 16px 19px;
    &-title{
      font-size: 14px;
      font-weight: bold;
      font-family: "telefonica";
      color: #555555;
      margin-bottom: 10.5px;
    }
    &-text{
      color: #86888C;
      font-size: 16px;
      font-family: "telefonica";
      &.green{
        color: #5CB615;
      }
      &.black{
        color: #313235;
      }
    }
    &-blocks{
      display: flex;
      flex-direction: row;
    }
    &-block{
      width: 124px;
      text-align: center;
      &:first-of-type{
        position: relative;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 1px;
          background-color: rgba($color: #86888C, $alpha: 0.5);
        }
      }
    }
  }
  hr{
    border-top: 1px dashed #707070;
    border-bottom: none;
    margin-bottom: 24.5px;
  }

  @media (min-width: 769px) and (max-height: 720px) {
    height: calc(100vh - 75px);
  }
}

.hidden{
  @media (max-width: 768px) {
    overflow: hidden;
  }
}


</style>

