<template>
    <div id="step-1" class="form-step active">

        <div :class="name_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Nombre</label>
                <input class="input-padding-l-75" :class="{ data: (name != null && name != '')}"  v-model="name" type="text" name="name" id="name" placeholder="Ej. José" required />
            </div>
            <span class="field-error" id="error_name">{{name_error}}</span>
        </div>

        <div :class="lastname_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Apellido</label>
                <input class="input-padding-l-80" :class="{ data: (lastname != null && lastname != '')}" v-model="lastname" type="text" name="lastname" id="lastname" placeholder="Ej. Yáñez"required />
            </div>
            <span class="field-error" id="error_lastname">{{lastname_error}}</span>
        </div>

        <div :class="run_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Rut</label>
                <input v-on:focusout="formatRun" class="input-padding-l-50" :class="{ data: ( run != null && run != '' ) }" v-model="run" type="text" maxlength="12" placeholder="Ej: 12.345.678-9">
            </div>
            <span class="field-error" id="run_error">{{run_error}}</span>
        </div>

        <div :class="phone_contact_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">n&deg; de contacto</label>
                <input class="input-padding-l-125" :class="{ data: (phone_contact != null && phone_contact != '')}" v-model="phone_contact" type="tel" name="phone" id="phone" placeholder="Ej: 987654321 (9 dígitos)" minlength="9"  maxlength="9" required />  
            </div>
            <span class="field-error" id="error_phone">{{phone_contact_error}}</span>
        </div>

        <div :class="email_error == '' ? 'form-group' : 'form-group error'">
            <div class="input">
                <label for="">Email</label>
                <input class="input-padding-l-60" :class="{ data: (email != null && email != '')}" v-model="email" type="email" name="email" id="email" placeholder="Ej: juan@mail.com" required />
            </div>
            <span class="field-error" id="error_email">{{email_error}}</span>
        </div>
    </div>
</template>

<script>
export default {
    props : ['setValidation'],
    data() {
        return {
            name: null,
            lastname: null,
            phone_contact: null,
            email: null,
            run: null,
            

            name_error : '',
            lastname_error : '',
            phone_contact_error : '',
            email_error : '',
            run_error : ''
        }
    },
    methods : {
        formatRun() {
            const currentRun = this.run;
            const formatRun = this._formatRun(currentRun)

            this.run = formatRun
                

        },

        _formatRun( rut ) {
            if( rut == null ) {
                return;
            }
            // const newRut = rut.replace(/\./g,'').replace(/\-/g, '').trim().toLowerCase();
            // const lastDigit = newRut.substr(-1, 1);
            // const rutDigit = newRut.substr(0, newRut.length-1)
            // let format = '';
            // for (let i = rutDigit.length; i > 0; i--) {
            //         const e = rutDigit.charAt(i-1);
            //         format = e.concat(format);
            //
            //         if (i % 3 === 0){
            //             format = '.'.concat(format);
            //         }
            //
            // }
            // console.log('formateado',format)
            // return format.concat('-').concat(lastDigit)
            
            rut = rut.replace(/\./g,'').replace(/\-/g, '').trim().toLowerCase();

            if(rut.length == 9){    
                let div1 = rut.slice(0,2);
                let div2 = rut.slice(2,5);
                let div3 = rut.slice(5,8);
                let div4 = rut.slice(8,9);

                rut = `${div1}.${div2}.${div3}-${div4}`;
            }

            if(rut.length == 8){    
                let div1 = rut.slice(0,1);
                let div2 = rut.slice(1,4);
                let div3 = rut.slice(4,7);
                let div4 = rut.slice(7,8);
                rut = `${div1}.${div2}.${div3}-${div4}`;
            }

            return rut;
            
        }
    },
    watch: {
        setValidation(values) {
            
            const messages = {
                required : '* El %s es requerido.',
                numeric: '* Ingresa un número válido',
                email : '* El %s debe ser válido',
                phone : '* Ingresa un número valido',
                run : '* El %s debe ser un rut válido con formato 11.111.111-1'
            }

            this.name_error = '';
            this.lastname_error = '';
            this.phone_contact_error = '';
            this.email_error = '';
            this.run_error = '';

             if( typeof(values) != 'undefined') {
                
                for(let i in values.nodes) {
                    let item = values.nodes[i];

                    item.forEach(element => {
                        
                        
                            let label = ''
                            switch(i) {
                                case 'run':
                                    label = 'rut';
                                    break;
                                case 'name':
                                    label = 'nombre';
                                    break;
                                case 'lastname' :
                                    label = 'apellido'
                                    break;
                                case 'phone_contact' :
                                    label = 'telefono contacto'
                                    break;
                                case 'email' :
                                    label = 'correo'
                                    break;
                            }
                        
                            if(element.required) {
                                let message = messages.required.replace('%s', label)

                                 switch(i) {
                                    case 'name':
                                        this.name_error = message;
                                        break;
                                    case 'lastname' :
                                        this.lastname_error = message;
                                        break;
                                    case 'phone_contact' :
                                        this.phone_contact_error = message;
                                        break;
                                    case 'email' :
                                        this.email_error = message;
                                        break;

                                    }
                            }

                            if(element.numeric) {
                                
                                let message = messages.numeric.replace('%s', label)

                                switch(i) {
                                    case 'phone_contact' :
                                        this.phone_contact_error = message;
                                        break;
                                }
                            }

                            if(element.email) {
                                let message = messages.email.replace('%s', label)

                                switch(i) {
                                    case 'email' :
                                        this.email_error = message;
                                        break;
                                }
                            }

                            if(element.phone) {
                                let message = messages.phone.replace('%s', label)

                                switch(i) {
                                    case 'phone_contact' :
                                        this.phone_contact_error = message;
                                        break;
                                }
                            }

                            if( element.run ) {
                                let message = messages.run.replace('%s', label);

                                switch(i) {
                                    case 'run':
                                        this.run_error = message;
                                        break;
                                }
                            }


                        });
                    
                }


            }
        },

        run() {
            this.$store.state.planFullForm.run = this.run;
        },

        name() {
            this.$store.state.planFullForm.name = this.name;
        },

        lastname(val, oldVal) {
            this.$store.state.planFullForm.lastname = this.lastname;
        },

        phone_contact(val, oldVal) {
            this.$store.state.planFullForm.phone_contact = this.phone_contact;
        },

        email() {
            this.$store.state.planFullForm.email = this.email;
        }

    },
    
    mounted() {
        // Llamada de Funcion Global
        placeholderMovistar()
    }
}
</script>
