<template>
    <div class="plan_dual">
        <div class="part part_a">
            <h2>Plan móvil 1</h2>
            <stepOne :changeTitlePlanB="true" :setValidation="setValidation"></stepOne>
        </div>
        
        <div class="part part_b">
            <h2>Plan móvil 2</h2>
            <stepOne :changeTitlePlanB="true" :setValidation="setValidation" :planB="planBStatus"></stepOne>
        </div>


    </div>

</template>

<script>
import stepOne from './step_one';

export default {
    props : ['setValidation'],
    components : {
        stepOne
    },

    data() {
        return {
            planBStatus : true
        }
    } 
}

</script>
<style lang="scss">
    .plan_dual{
        .part{
            background-color: #f5f5f5;
            max-width: 446px;
            margin: 0 auto 16px auto;
            padding: 22px 45px;
            @media (max-width: 768px) {
                background-color: #019df4;
                padding: 0;
                padding-bottom: 20px;
            }
            h2{
                font-family: telefonica;
                font-weight: bold;
                margin-left: 0px;
                margin-bottom: 16px;
                font-size: 18px;
                color: #313235;
                @media (max-width: 768px) {
                    color: white;
                }
            }
            &.part_b{
                @media (max-width: 768px) {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .button-white-mobile{
        margin-top: 30px;
    }
</style>
