<template>
    <div class="form-step active">
        <div :class="{ fromb : fromPlanB, error: hasErrorPhoneNumber, 'form-radio' : true, 'form-group' : true, border: type == 1 }">
            <div class="left">
                <div class="custom-radio">
                    <input ref="withPortabilityCheck" id="with-portability" :name="'type' + ( ( planB ) ? 'PlanB' : '' )" v-model="type" value="1" type="radio" class="radio">
                    <label for="with-portability"></label>
                </div>
            </div>
            <div class="right">
                <p>{{ getTitlePortability() }}</p>
                <div v-show="type == 1"  class="input">
                    <label v-html="getLabelPortability()" for=""></label>
                    <input class="input-padding-l-140" :class="{ data: (portability_phone != null && portability_phone != '')}" v-model="portability_phone" type="text" placeholder="Ej: 968823467" maxlength="9" required />
                </div>
                <span class="field-error" id="error_email">{{portability_phone_error}}</span>
            </div>
        </div>
        <div v-bind:class="{ 'form-group' : true, error: hasErrorNewNumber, 'form-radio' : true, border: type == 2 }">
            <div class="left">
                <div class="custom-radio">
                    <input :ref="'withNumberCheck' + ( ( planB ) ? 'PlanB' : '' )" id="with-number" :name="'type' + ( ( planB ) ? 'PlanB' : '' )" v-model="type" value="2" type="radio" class="radio">
                    <label for="with-number"></label>
                </div>
            </div>
            <div class="right">
                <p>Con número nuevo</p>
                <span class="field-error" id="error_xxe">{{new_phone_error}}</span>
            </div>
        </div>
    </div>

</template>

<script>

import { isMobile } from 'mobile-device-detect'

export default {
    props : ['setValidation', 'planB', 'changeTitlePlanB'],
    
    data() {
        return {
            portability_phone:       null,
            is_phone_new:            false,
            type:                    null,
            portability_phone_error: '',
            new_phone_error: '',
            hasErrorPhoneNumber:     false,
            hasErrorNewNumber : true,
            fromPlanB:               this.planB,
            titlePortabilityBlock:   'Con portabilidad Movistar',
            changeTitlePortability:  ( typeof( this.changeTitlePlanB ) != 'undefined' )
        }
    },

    methods: {


        getTitlePortability() {

            // return ( isMobile ) ? 'Con portabilidad a Movistar' : 'Con portabilidad Movistar';
            return 'Con portabilidad Movistar';

        },

        getLabelPortability() {

            return this.changeTitlePortability ? 'N&deg; a portar' : 'N&Uacute;mero a portar';

        },

        dropErrorChecked() {

            this.hasErrorPhoneNumber = false;
            this.hasErrorNewNumber = false;
        }

    },

    watch : {

        setValidation(values) {

            const messages = {
                required : '* El %s es requerido',
                phone : '* Ingresa un número válido',
                samePhone: 'Los números deben ser diferentes'
            };

            this.portability_phone_error = '';
            this.hasErrorPhoneNumber = false;


            for(let i in values.nodes) {
                let item = values.nodes[i];


                
                item.forEach((element)=> {
                    let label = '';

                    console.log('>>', element)



                    if( ['portability_phone', 'portability_phone_plan_b'].includes( i ) ) {
                        label = 'Número Portabilidad'
                    }

                    if( element.required ) {
                        
                        if( this.fromPlanB ) {
                            if( i == 'portability_phone_plan_b' ) {
                                this.hasErrorPhoneNumber = true;
                                this.portability_phone_error = messages.required.replace('%s', label);
                            }
                        } else {

                            if( i == 'portability_phone' ) {
                                this.hasErrorPhoneNumber = true;
                                this.portability_phone_error = messages.required.replace('%s', label);
                            }
                        }

                        if( i == 'is_phone_new' ) {
                            this.hasErrorNewNumber = true;
                            this.new_phone_error =  messages.required.replace('%s', ' campo Con numero nuevo')

                        }


                        
                    }

                    if( element.sameAsNumber ) {

                        if(this.fromPlanB) {
                            if( i == 'portability_phone_plan_b' ) {
                                this.hasErrorPhoneNumber = true;
                                this.portability_phone_error = messages.samePhone.replace('%s', label);
                            }
                        }
                        
                    }

                    if( element.phone ) {

                        if( this.fromPlanB ) {
                            if( i == 'portability_phone_plan_b' ) {
                                this.hasErrorPhoneNumber = true;
                                this.portability_phone_error = messages.phone.replace('%s', label);
                            }
                        } else {

                            if( i == 'portability_phone' ) {
                                this.hasErrorPhoneNumber = true;
                                this.portability_phone_error = messages.phone.replace('%s', label);
                            }
                        }
                        
                    }
                })
            }
        },
        
        portability_phone() {

            this.dropErrorChecked();
           
            let phone = this.portability_phone > 0 ? this.portability_phone : null;

            if( this.fromPlanB ) {
                this.$store.state.planFullForm.portability_phone_plan_b = phone;
            } else {
                this.$store.state.planFullForm.portability_phone = phone;
            }
            
        },
 
        type() {

            this.dropErrorChecked();

            let type = this.type === '2';

            if( this.fromPlanB ) {
                this.$store.state.planFullForm.is_phone_new_plan_b = type;
            } else {
                this.$store.state.planFullForm.is_phone_new = type ;
            }

            if( type ) {
                this.portability_phone = null;
            }



        }
    },

    mounted() {
        // Llamada de Funcion Global
        placeholderMovistar();

        // if( this.fromPlanB ) {
        //     this.$refs.withNumberCheckPlanB.click();
        // } else {
        //     this.$refs.withNumberCheck.click();
        // }
        
    }

    
}
</script>

<style scoped>
@media(max-width: 768px) {
    .form-group:first-child {
        border-bottom: 1px solid #f5f5f5;
    }
}

.bold-p {
    font-weight: bold;
}
</style>
