<template>
    <div class="page-message success">
        <img class="page-message__image" src="/img/success-mobile-ilustracion.svg" alt="">
        <h2 class="page-message__title">¡Perfecto!</h2>
        <p class="page-message__text">Hemos recibido tu solicitud</p>
        <hr class="page-message__line">
        <h3 class="page-message__subtitle">Uno de nuestros ejecutivos te contactará<br/>para coordinar la entrega de tu chip</h3>
        <a class="page-message__link" href="https://ww2.movistar.cl"><img src="/img/blue-M.svg" alt="">Volver a<strong>&nbsp;Movistar.cl</strong></a>
    </div>
</template>

<script>
export default {
    
}
</script>
<style lang="scss">
    @mixin xs() {
        @media (max-width: 767px) {
            @content;
        }
    }
    $blue: #019DF4;
    .page-message{
        min-height: 768px;
        background-color: $blue;
        text-align: center;
        padding: 137px 20px 196px 20px;
        @include xs {
            min-height: 590px;
            padding: 54px 40px 164px 40px;
            height: 100vh;
        }
        &__image{
            margin-bottom: 13px;
            @include xs {
                width: 100px;
                height: 120px;
                margin-bottom: 16px;
            }
        }
        &__title{
            font-weight: 300;
            color: white;
            font-size: 40px;
            margin-bottom: 10px;
            @include xs {
                font-size: 24px;
                margin-bottom: 6px;
            }
        }
        &__text{
            color: white;
            font-size: 18px;
            @include xs {
                font-size: 16px;
            }
        }
        &__line{
            border: 1px solid rgba(255, 255, 255, 0.25);
            max-width: 308px;
            margin: 20px auto;
            @include xs {
                max-width: 274px;
            }
        }
        &__subtitle{
            color: white;
            font-size: 18px;
            @include xs {
                font-size: 16px;
            }
        }
        &__link{
            display: flex;
            margin: 0 auto;
            min-height: 56px;
            max-width: 280px;
            background-color: white;
            align-items: center;
            justify-content: center;
            color: $blue;
            font-size: 16px;
            border-radius: 40px;
            margin-top: 53px;
            @include xs {
                margin-top: 50px;
            }
            img{
                margin-right: 13.5px;
            }
            strong{
                font-weight: bold;
            }
        }
    }
</style>
