<template>
    <!-- Header -->
    <div id="mainmenu">
        <div class="mvx-top">
            <div class="mvx-container">
                <p>Personas</p>
                <a href="//ww2.movistar.cl/empresas/">Empresas</a>
                <a href="//ww2.movistar.cl/corporaciones/">Corporaciones</a>
                <a href="//ww2.movistar.cl/ofertas/convenios-corporativos/" class="convenios"> Convenios corporativos
                </a>
            </div>
        </div>
        <div class="mvx-bottom">
            <div class="mvx-container">
                <a class="mvx-bottom_logo" href="//ww2.movistar.cl/" title="Ir a movistar.cl"></a>
                <a class="mvx-bottom_empresas opt-first" href="//ww2.movistar.cl/empresas/"
                    data-fz="Optimize Ir a empresas">
                    Ir a empresas
                </a>
                <i role="button" class="mvx-mob_back mvs-back"></i>
                <div class="mvx-bottom_nav">
                    <div class="mvx-bottom_mob">
                        <i role="button" class="mvx-mob_back xjs-backclose"></i>
                        <span class="mvx-bottom_more">
                            <a href="//ww2.movistar.cl/empresas" class="opt-first" data-fz="Optimize Ir a empresas">
                                Ir a empresas
                            </a>
                            <button class="xjs-more" role="button"></button>
                            <div>
                                <a href="//ww2.movistar.cl/empresas/" class="opt-first"
                                    data-fz="Optimize Ir a empresas">
                                    Empresas
                                </a>
                                <a href="//ww2.movistar.cl/corporaciones/" class="opt-second" data-fz="Optimize otros">
                                    Corporaciones
                                </a>
                            </div>
                        </span>
                    </div>
                    <nav class="mvx-bottom_innernav">
                        <a href="//catalogo.movistar.cl/equipomasplan/catalogo.html" data-content=".menu-equipos">
                            Equipos
                        </a>
                        <a href="//ww2.movistar.cl/movil/" data-content=".menu-movil">
                            Móvil
                        </a>
                        <a href="//ww2.movistar.cl/hogar/" data-content=".menu-hogar">
                            Hogar
                        </a>
                        <a href="//ww2.movistar.cl/servicios-digitales/" data-content=".menu-digital">
                            Digital
                        </a>
                        <a href="//atencionalcliente.movistar.cl/" data-content=".menu-ayuda">
                            Ayuda
                        </a>
                        <a class="club" href="//ww2.movistar.cl/club/">Club</a>

                        <span>
                            <a href="#" class="mvxnotificaciones" data-content=".menu-notificaciones">
                                Notificaciones
                            </a>
                            <a href="//ww2.movistar.cl/ofertas/" class="mvxofertas" data-content=".menu-ofertas">
                                Ofertas Web
                            </a>
                            <a href="//acceso.movistar.cl/SSO_AU_WEB/loginAction.do" class="mimovistar"
                                data-content=".menu-mimovistar">
                                Mi Movistar
                            </a>
                        </span>
                    </nav>
                </div>
                <label class="mvx-bottom_buscador trigger-buscador opt-second" data-fz="Optimize otros">
                    <button>Buscar</button>
                    <input type="text" data-hj-whitelist="" class="srx-search mvxmobile" autocapitalize="off"
                        autocorrect="off" autocomplete="off" tabindex="1" placeholder="Buscar en Movistar.cl" />
                </label>
                <div class="mvx-bottom_buttons">
                    <a href="//ww2.movistar.cl/ofertas/" class="btn-toogle mvxofertas" data-content=".menu-ofertas">
                        Ofertas
                    </a>
                    <a href="//acceso.movistar.cl/SSO_AU_WEB/loginAction.do" class="btn-toogle mimovistar"
                        data-content=".menu-mimovistar">
                        Mi Movistar
                    </a>
                    <a href="#" class="mvxbtn mvxnotificaciones" title="Notificaciones"
                        data-content=".menu-notificaciones">
                    </a>
                    <a href="//ww2.movistar.cl/empresas/" class="mvxbtn mvxdetalle"
                        title="Movistar Empresas &amp; Corporaciones" data-content=".menu-empresas">
                        Empresas
                    </a>
                    <i role="button" class="xjs-mobmenu" title="Despliegue menu mobile"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Header -->
</template>

<script>
    export default {
 
    }
</script>
