<template>
    <main v-show="showFormContainer">
      <img class="logo-movistar" src="/img/blue-M.svg" alt="">
      <div style="display: flex; margin: 0 auto; justify-content: space-between; max-width: 1082px;">
        <div :class="step == 1 ? 'form-container step-1' : 'form-container'">
          <div class="form-content">
              <slot name="form_header"></slot>
              <slot name="form_content"></slot>
              <slot name="form_next_prev"></slot>            
          </div>
        </div>
      
        <!-- side details -->
        <side-details 
          :isExpand="sendExpand" 
          :planDetails="planDetails" 
          :planPrice="planPrice" 
          :planPriceWithDiscount="planPriceWithDiscount"
          :legalText="legalText"/>

      </div>
      
      <div class="loader-container">
        <div class="loader"></div>
      </div>
  </main>
</template>

<script>
import sideDetails from './packfull_components/side_details.vue';

export default {
  props : [
    'step', 
    'showFormContainer', 
    'sendExpand',
    'planPrice', 
    'planPriceWithDiscount', 
    'planDetails',
    'legalText'
  ],
  components: {
    sideDetails 
  }
}
</script>
