<template>
    <div>
        <formhelper 
            :planDetails="planDetails" 
            :planPrice="planPrice" 
            :planPriceWithDiscount="planPriceWithDiscount" 
            :sendExpand="isExpandDetail" 
            :step="step" 
            :showFormContainer="successMessage == false && failureMessage == false"
            :legalText="legalText">

           <div slot="form_header" class="form-header" v-show="showForm">
                <div class="banner">
                    <img class="arrow" src="/img/ico-arrow.svg" alt="" v-on:click="setExpandDetailMobile">

                    <a v-on:click="goUrlHome" v-show="step == 1">
                        <img v-bind:src="'/packfull/public/assets/img/blue-arrow.svg'" class="arrow-back desk" alt="flecha volver" />
                        <img v-bind:src="'/packfull/public/assets/img/white_arrow.svg'" class="arrow-back mob" alt="flecha volver" />
                    </a>

                    <a v-on:click="prevStepClick" v-show="step != 1">
                        <img v-bind:src="'/packfull/public/assets/img/blue-arrow.svg'" class="arrow-back desk" alt="flecha volver" />
                        <img v-bind:src="'/packfull/public/assets/img/white_arrow.svg'" class="arrow-back mob" alt="flecha volver" />
                    </a>

                    <p>Estás solicitando <b>Plan Movistar Con Todo</b></p>
                
                </div>
                <p :class="step == 1 ? 'form-header__subtitle-mobile hide-step-1-mobile' : 'form-header__subtitle-mobile'" v-html="titleMessage"></p>
            </div>

           <section slot="form_content" >
               <h4 v-show="!isPlanB" class="form__title-mobile">Tu plan incluye un plan móvil <br>¿Cómo quieres obtenerlo?</h4>
               <h4 v-show="isPlanB" class="form__title-mobile">Ind&iacute;canos cómo quieres <br>obtener tus <strong>planes móviles</strong></h4>
                <keep-alive>
                    <component :isPlanBEnabled="isPlanBEnabled" :setLoaderToSubmit="sendLoader" :setValidation="setValidation" v-on:sendSubmit="sendForm" v-bind:is="formstep" v-show="showForm"></component>
                </keep-alive>
           </section>

           <section slot="form_next_prev" v-show="showForm && payloadOk">
               <div class="button-container">
                    <span class="form-error"></span>
                    <button class="button-white-mobile" v-on:click="nextStepClick" v-show="step != 3" href="javascript:;" alt="Continuar">
                        <span>Continuar</span>
                        <div class="loader"></div>
                    </button>
                </div>
           </section>

           <section slot="form_next_prev" v-show="! payloadOk">
               <message :errorList="payloadMessageErrors" :type="typeErrorMessage" />
           </section>

       </formhelper>
        <success v-show="successMessage" />
        <failure v-show="failureMessage" />
    </div>
</template>

<script>

import formhelper from './form-helper.vue'
import Headermovistar from '../partials/headermovistar.vue'
import Footermovistar from '../partials/footermovistar.vue';
import stepOne from './packfull_components/step_one.vue';
import stepTwo from './packfull_components/step_two.vue';
import finalStep from './packfull_components/final_step.vue';
import stepOnePlanB from './packfull_components/step_one_planb.vue';
import {ValidationsMov} from './utilities/ValidationsMov';
import success from './packfull_components/success.vue';
import failure from './packfull_components/failure.vue';
import { isMobile } from 'mobile-device-detect';
import Message from './packfull_components/message.vue';

let DEFAULT_STEP_FORM = 'stepOne';

const TITLE_ONEPLAN = 'Ind&iacute;canos cómo quieres obtener tu <strong>plan móvil</strong>';
const TITLE_DOUBLEPLAN = 'Ind&iacute;canos cómo quieres obtener tus <strong>planes móviles</strong>';

export default {
    props:[
        'isPlanBEnabled', 
        'isPayloadValid', 
        'setPlanName', 
        'planPrice', 
        'planPriceWithDiscount', 
        'planDetails', 
        'homeland',
        'payloadErrors',
        'legalText'
    ],

    components : {
       'formhelper' : formhelper,
        Headermovistar,
        Footermovistar,
        stepOne ,
        stepTwo,
        finalStep,
        success,
        failure,
        stepOnePlanB,
        Message
    },

    data() {
        return {
            formstep:             DEFAULT_STEP_FORM,
            step:                 1,
            setValidation:        {},
            aprovedNextStep:      true,
            sendLoader:           false,
            showForm:             true,
            successMessage:       false,
            failureMessage:       false,
            titleMessage:         (this.isPlanBEnabled) ? TITLE_DOUBLEPLAN : TITLE_ONEPLAN,
            isPlanB:              this.isPlanBEnabled,
            payloadOk:            this.isPayloadValid,
            planName:             this.setPlanName,
            price:                this.planPrice,
            priceDiscount:        this.planPriceWithDiscount,
            planDetail:           this.planDetails,
            legalTextData:        this.legalText,
            isExpandDetail:       false,
            payloadMessageErrors: [],
            typeErrorMessage:     'warning'
        }
    },

    methods : {

        goUrlHome() {
            top.location.href = this.homeland;
        },

        _areRequired( list ) {
            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.required(item)) {
                    valid = false;
                    nodes[ i ] = { required : true }
                }
            }
           

            return { status: valid, nodes: nodes };
        },

        _areRut( list ) {
            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.run(item)) {
                    valid = false;
                    nodes[ i ] = { run : true }
                }
            }
            
            return { status: valid, nodes: nodes };
        },
        
        _areNumeric( list ) {
            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.numeric(item)) {
                    valid = false;
                    nodes[ i ] = { numeric : true }
                }
            }

            return { status: valid, nodes: nodes };
        },

        _areEmail( list ) {
            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.email(item)) {
                    valid = false;
                    nodes[ i ] = { email : true }
                }
            }

            return { status: valid, nodes: nodes };
        },

        _arePhone( list ) {
            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.phone(item)) {
                    valid = false;
                    nodes[ i ] = { phone : true }
                }
            }

            return { status: valid, nodes: nodes };
        },

        _areApartmentNumber( list ) {

            let valid = true;
            let nodes = [];

            for(let i in list) {
                let item = list[i]
                
                if( ! ValidationsMov.apartmentNumber( item )) {
                    valid = false;
                    nodes[ i ] = { apartmentNumber : true }
                }
            }

            return { status: valid, nodes: nodes };

        },

        _areSamePhone() { 
            let values = this._getValues(['portability_phone', 'portability_phone_plan_b']);

            const areEquals = values.portability_phone === values.portability_phone_plan_b;

            if( areEquals ) {
                
                let nodes = [];
                nodes['portability_phone_plan_b'] = { sameAsNumber: true }; 
                
                return { status: false ,nodes: nodes };
            } else {
                return { status : true };
            }
            

        } ,

        _validateCheckecFirstStep() {
            this.setValidation = { status: true };

            if( this.isPlanB ) {

                let valuesCheckInput = this._getValues( ['portability_phone', 'is_phone_new','portability_phone_plan_b', 'is_phone_new_plan_b'] );

                let checkBothIfAreNull = this._areRequired( valuesCheckInput );

                if( valuesCheckInput.portability_phone == null && valuesCheckInput.is_phone_new == null ) {

                    let erros = this._joinCheckValidation([checkBothIfAreNull]);

                    this.setValidation = { status: false, nodes: erros.nodes };

                    return false;
                }
            }

            let valuesCheckInput = this._getValues( ['portability_phone', 'is_phone_new'] );

            let checkBothIfAreNull = this._areRequired( valuesCheckInput );

            if( valuesCheckInput.portability_phone == null && valuesCheckInput.is_phone_new == null ) {

                let erros = this._joinCheckValidation([checkBothIfAreNull]);

                this.setValidation = { status: false, nodes: erros.nodes };

                return false;
            }




            return true;
        },

        ValidationStepOne() {
            let results = true;
            let resultValidateChecks = this._validateCheckecFirstStep();
            
            if( ! resultValidateChecks ) {
                return false;
            }

            this.setValidation = { status: true };

            if( this.isPlanB ) {

                let resultA = this._validatePhonesStepOne('is_phone_new', 'portability_phone');
                let resultB = this._validatePhonesStepOne('is_phone_new_plan_b', 'portability_phone_plan_b');

                if( ! resultA.status || ! resultB.status ) {

                    let nodesA = ( ! resultA.status ) ? resultA.nodes : null;
                    let nodesB = ( ! resultB.status ) ? resultB.nodes : null;

                    let mergeArray = [];

                    if( nodesA != null ) {

                        if(typeof(nodesA['portability_phone']) != 'undefined') {

                            let objeto = {};

                            if( nodesA.portability_phone.find( s => s.required ) ) {
                                objeto.required = true;
                            }


                            if( nodesA.portability_phone.find( s => s.numeric) ) {
                                objeto.numeric = true;
                            }


                            if( nodesA.portability_phone.find( s => s.phone) ) {
                                objeto.phone = true;
                            }

                            mergeArray['portability_phone'] = objeto;
                        }

                        if(typeof(nodesA['is_phone_new']) != 'undefined') {
    
                            let objeto = {};

                            if( nodesA.is_phone_new.find( s => s.required ) ) {
                                objeto.required = true;
                            }

                            mergeArray['is_phone_new'] = objeto;

                        }

                    }

                    if( nodesB != null ) {
                        if(typeof(nodesB['portability_phone_plan_b']) != 'undefined') {

                            let objeto = {};

                            if( nodesB.portability_phone_plan_b.find( s => s.required ) ) {
                                objeto.required = true;
                            }


                            if( nodesB.portability_phone_plan_b.find( s => s.numeric) ) {
                                objeto.numeric = true;
                            }


                            if( nodesB.portability_phone_plan_b.find( s => s.phone) ) {
                                objeto.phone = true;
                            }

                            mergeArray['portability_phone_plan_b'] = objeto;

                        }

                        if(typeof(nodesB['is_phone_new_plan_b']) != 'undefined') {

                            let objeto = {};

                            if( nodesA.is_phone_new_plan_b.find( s => s.required ) ) {
                                objeto.required = true;
                            }

                            mergeArray['is_phone_new_plan_b'] = objeto;

                        }

                    }

                    let objectValidate = { status: false, nodes: mergeArray };

                    let mergeProcess = this._joinCheckValidation([objectValidate]);
                    
                    this.setValidation = { status: false, nodes: mergeProcess.nodes };
                    
                    return false;
                }

                return true;

            }// end validate when is plan b

            
            let resultA = this._validatePhonesStepOne('is_phone_new', 'portability_phone');
            let mergeArray = [];

            if( ! resultA.status) {

                let nodesA = resultA.nodes;

                if(typeof(nodesA['portability_phone']) != 'undefined') {

                    let objeto = {};

                    if( nodesA.portability_phone.find( s => s.required ) ) {
                        objeto.required = true;
                    }


                    if( nodesA.portability_phone.find( s => s.numeric) ) {
                        objeto.numeric = true;
                    }


                    if( nodesA.portability_phone.find( s => s.phone) ) {
                        objeto.phone = true;
                    }

                    mergeArray['portability_phone'] = objeto;
                }

                if(typeof(nodesA['is_phone_new']) != 'undefined') {

                    let objeto = {};

                    if( nodesA.is_phone_new.find( s => s.required ) ) {
                        objeto.required = true;
                    }

                    mergeArray['is_phone_new'] = objeto;

                }


                let objectValidate = { status: false, nodes: mergeArray };

                let mergeProcess = this._joinCheckValidation([objectValidate]);
                
                this.setValidation = { status: false, nodes: mergeProcess.nodes };

                return false;


            }

            return true;

        },
        
        _validatePhonesStepOne(phoneNewField, portabilityField) {

            let getValues = this._getValues([`${phoneNewField}`]);

            let valueNewField = (phoneNewField === 'is_phone_new') ?  getValues.is_phone_new: getValues.is_phone_new_plan_b;
            
            if( ! valueNewField ) {

                let getValues = this._getValues([`${portabilityField}`]);
                
                let required = this._areRequired( getValues );

                let number = this._areNumeric( getValues );

                let phones = this._arePhone( getValues );

                let errors = this._joinCheckValidation( [ required, number, phones ] );

                if( errors.hasError ) {
                    return { status: false, nodes: errors.nodes }; 
                }

                return { status : true };


            }

            return { status : true };

        },


        OLD_ValidationStepOne() {

            this._validateCheckecFirstStep();

            this.setValidation = { status : true };

            let values = this._getValues(['portability_phone', 'is_phone_new']);

            let isPlanbEnabled = this.isPlanB;
            let validations = { status : true };
            
            if ( ! values.is_phone_new ) {

                let required = this._areRequired(
                    this._getValues([
                        'portability_phone'
                    ])
                );

                let numeric = this._areNumeric(
                    this._getValues([
                        'portability_phone'
                    ])
                );

                let phones = this._arePhone(
                    this._getValues([
                        'portability_phone'
                    ])
                );

                let errors = this._joinCheckValidation([required, numeric, phones]);

                if( errors.hasError ) {
                    validations = { status : false, nodes : errors.nodes }
                } else {
                    validations = { status : true } ;
                }
            }

            if( this.isPlanbEnabled ) {

                let errors= this.ValidationStepOnePlanB();
                
                if( ! errors.status ) {
                    validations.status = false;
                    
                    if( typeof( validations.nodes ) == 'undefined' ) {
                        validations.nodes = []; 
                    }

                    for(let i in errors.nodes) {
                        let item = errors.nodes[ i ]

                        validations.nodes[ i ] = item;
                    }
                    
                }
            }
            
            if( ! validations.status ) {
                this.setValidation = validations;
                return false;
            }
            

            return true;

        },

        ValidationStepOnePlanB() {
            let values = this._getValues(['portability_phone_plan_b', 'is_phone_new_plan_b']);
            let areSamePhones  = this._areSamePhone();



            if( ! values.is_phone_new_plan_b ) {


                let required = this._areRequired(
                    this._getValues([
                        'portability_phone_plan_b'
                    ])
                );

                let numeric = this._areNumeric(
                    this._getValues([
                        'portability_phone_plan_b'
                    ])
                );

                let phones = this._arePhone(
                    this._getValues([
                        'portability_phone_plan_b'
                    ])
                );

                let errors = this._joinCheckValidation([required, numeric, phones, areSamePhones]);

                if( errors.hasError ) {
                    return { status : false, nodes : errors.nodes }
                }


            }

            return { status : true };
        },

        ValidationStepTwo() {
            this.setValidation = {};

            let resultRequired = this._areRequired(
                this._getValues([
                    'name',
                    'lastname',
                    'phone_contact',
                    'email',
                    'run'
                ])
            );

            let resultPhone = this._arePhone(this._getValues([
                    'phone_contact'
                ]));

            let resultEmail = this._areEmail( this._getValues(['email']) );

            let resultRut = this._areRut( this._getValues(['run']) );

            let errors = this._joinCheckValidation([resultRequired, resultPhone, resultEmail, resultRut]);

            if( errors.hasError ) {
                console.error('validation error')
                this.setValidation = { status : false, nodes : errors.nodes }
                return false;
            }

            return true;

        },

        ValidationFinalStep() {
            
            this.setValidation = {};

            let resultRequired = this._areRequired(
                this._getValues([
                    'region',
                    'commune',
                    'street',
                    'number_street'
                ])
            );


            let resultNumeric = this._areNumeric(this._getValues([
                    'number_street'
                ]));

            let apartmentNumber = this._areApartmentNumber( this._getValues([
                'apartment_number'
            ]));



            let errors = this._joinCheckValidation([resultRequired, resultNumeric, apartmentNumber]);
           

            // validate other address

            let valuesStreet = this._getValues(
                ['street', 'number_street']
            );

            let valuesOtherStreet = this._getValues([
                'other_commune',
                'other_street',
                'other_street_number'
            ]);


            if( valuesStreet.street == null || valuesStreet.number_street == null ) {
                let use_current_street_check = this.$store.state.planFullForm.use_current_street;


                if( use_current_street_check == null || ! use_current_street_check) {
                    errors.hasError = true;
                    errors.nodes.use_current_check = [ { required : true } ];
                }
            }


            if( valuesStreet.street != null || valuesStreet.number_street != null ) {
                
                let use_current_street_check = this.$store.state.planFullForm.use_current_street;

                // check data from modal
                if( valuesOtherStreet.other_commune != null 
                    && valuesOtherStreet.other_street != null 
                    && valuesOtherStreet.other_street_number != null ) {
                    
                    errors.hasError = false;

                } else {

                    if( use_current_street_check == null || use_current_street_check === false ) {
                        errors.hasError = true;
                        errors.nodes.use_current_check = [ { required : true } ];
                    }
                }


                
            }

            if( errors.hasError ) {
                this.setValidation = { status : false, nodes : errors.nodes }
                return false;
            }



            

            return true;


        },

        _joinCheckValidation( values ) {
            let data = []
            let hasErrors = false;

            for(let i in values) {
                let item = values[ i ]

                if( item.status ) {
                    continue
                }

                for(let ii in item.nodes) {
                    
                    if(typeof(data[ii]) == 'undefined' || data[ii].length == 0) {
                        data[ii] = []
                    }
                    
                    let validation = item.nodes[ii]
                    
                    data[ii].push( validation )
                    hasErrors = true;
                }

            }

            return {hasError : hasErrors , nodes : data};

        },

        _getValues( list ) {
            let nodes = [];
            let data = [];
            this.setValidation = {};


            nodes['run']                      = this.$store.state.planFullForm.run;
            nodes['name']                     = this.$store.state.planFullForm.name;
            nodes['lastname']                 = this.$store.state.planFullForm.lastname;
            nodes['phone_contact']            = this.$store.state.planFullForm.phone_contact;
            nodes['email']                    = this.$store.state.planFullForm.email;
            nodes['region']                   = this.$store.state.planFullForm.region;
            nodes['commune']                  = this.$store.state.planFullForm.commune;
            nodes['street']                   = this.$store.state.planFullForm.street;
            nodes['number_street']            = this.$store.state.planFullForm.number_street;
            nodes['apartment_number']         = this.$store.state.planFullForm.apartment_number;
            nodes['aditional_information']    = this.$store.state.planFullForm.aditional_information;
            nodes['portability_phone']        = this.$store.state.planFullForm.portability_phone;
            nodes['is_phone_new']             = this.$store.state.planFullForm.is_phone_new;
            nodes['portability_phone_plan_b'] = this.$store.state.planFullForm.portability_phone_plan_b;
            nodes['is_phone_new_plan_b']      = this.$store.state.planFullForm.is_phone_new_plan_b;
            nodes['form_information']         = this.$store.state.planFullForm.form_information;
            nodes['other_commune']            = this.$store.state.planFullForm.other_direction.commune;
            nodes['other_street']             = this.$store.state.planFullForm.other_direction.street;
            nodes['other_street_number']      = this.$store.state.planFullForm.other_direction.number_street;

            for(let i in list) {
                data[ list[ i ] ] = nodes[ list[ i ] ];
            }

            return data;
        },

        
        
        nextStepClick : function() {
            
            if( this.step === 1 && ! this.ValidationStepOne() ) {
                return false;
            }

            if( this.step === 2 && ! this.ValidationStepTwo() ) {
                return false;
            }

            this.step++;
            this._moveSteps();
            window.scrollTo(0,0);
        },

        prevStepClick() {
            this.step--;
            this._moveSteps();
        },

        _moveSteps(){

            // validate form
            switch(this.step) {
                case 2:
                    this.formstep = 'stepTwo';
                    break;
                case 3:
                    this.formstep = 'finalStep';
                    break;
                default:
                    this.initCheck();
                    break;
            }
        },

        sendSubmitStatus() {
            this.afterSend = true;
        } ,

        setExpandDetailMobile() {
            // just for trigger event send alternate values
            this.isExpandDetail = ( this.isExpandDetail ) ? false : true;
        },

        sendForm() {

            // const planName = this.staticPlanForm;
            const apiURI = '/api/form/storage';
            
            if( ! this.ValidationFinalStep()) {
                return false;
            }

            let sender = {
                form_information                                   : this.$store.state.planFullForm.form_information,
                portability_phone                                  : (this.$store.state.planFullForm.portability_phone != null || this.$store.state.planFullForm.portability_phone != '')
                                                                        ? this.$store.state.planFullForm.portability_phone : 0,
                portability_phone_plan_b                           : ( this.$store.state.planFullForm.portability_phone_plan_b != null || this.$store.state.planFullForm.portability_phone_plan_b != '' ) ? this.$store.state.planFullForm.portability_phone_plan_b : 0,
                run                                                : this.$store.state.planFullForm.run,
                is_phone_new                                       : this.$store.state.planFullForm.is_phone_new,
                is_phone_new_plan_b                                : this.$store.state.planFullForm.is_phone_new_plan_b,
                name                                               : this.$store.state.planFullForm.name,
                lastname                                           : this.$store.state.planFullForm.lastname,
                phone_contact                                      : this.$store.state.planFullForm.phone_contact,
                email                                              : this.$store.state.planFullForm.email,
                commune_id                                         : this.$store.state.planFullForm.commune,
                street                                             : this.$store.state.planFullForm.street,
                number_street                                      : this.$store.state.planFullForm.number_street,
                apartment_number                                   : (this.$store.state.planFullForm.apartment_number != null || this.$store.state.planFullForm.apartment_number != '')
                                                                        ? this.$store.state.planFullForm.apartment_number  : 0,
                aditional_data                                     : this.$store.state.planFullForm.aditional_information,
                use_current_street                                 : this.$store.state.planFullForm.use_current_street,
              //  plan_name                                          : planName,
                plan_price                                         : this.price,
                plan_price_on_discount                             : this.priceDiscount,
                plan_details                                       : this.planDetail,
                legal_text                                         : ( this.legalText.legal_text != null ) ? this.legalText.legal_text : '',
                other_direction : {
                    commune_id            : this.$store.state.planFullForm.other_direction.commune,
                    street                : this.$store.state.planFullForm.other_direction.street,
                    number_street         : this.$store.state.planFullForm.other_direction.number_street,
                    apartment_number      : this.$store.state.planFullForm.other_direction.apartment_number,
                    aditional_information : this.$store.state.planFullForm.other_direction.aditional_information
                }
            };

            this.setLoaderToSubmit()

            axios
                .post( apiURI, sender)
                .then( (response) => {

                    if(typeof(response.data.success) != 'undefined' && response.data.success) {
                        this.successMessage = true;
                        this.showForm = false;
                    } else {
                        this.showForm = false;
                        this.failureMessage = true;
                    }
                    
                    this.setLoaderToSubmit(false);

                    window.scrollTo(0,0);
                    

                } )
                .catch( (error) => {
                    console.log('error found on submit')
                    this.showForm = false;
                    this.failureMessage = true;
                    this.setLoaderToSubmit(false);
                } );

        },

        setLoaderToSubmit(status = true){
            this.sendLoader = status;
            return true;
        },

        setTitleForm() {

            const titleForm = () => {

                let name = this.planName.replace(/-/g, ' ');
                let nameArray = name.split(' ');

                nameArray.map( (item) => {
                    return item.charAt(0).toUpperCase() + item.slice(1);
                } );

                return nameArray.join(' ');

            };

        },

        initCheck() {

            this.formstep = ( this.isPlanB ) ? 'stepOnePlanB' : 'stepOne';

            if( ! this.payloadOk ) {
                console.error('Invalid payload')
                this.payloadMessageErrors = this.payloadErrors;
                this.typeErrorMessage = 'warning';
            }

        },

    },

    mounted() {
        this.$nextTick(this.getRegionList);
        this.$nextTick(this.initCheck)
    },

    watch : {
        step( value ) {
            switch( value ) {
                case 1:
                    this.titleMessage = TITLE_ONEPLAN;

                    if( isMobile ) {
                        this.titleMessage = 'Tu plan incluye un plan m&oacute;vil &iquest;C&oacute;mo quieres obtenerlo?';
                    }

                    if( this.isPlanB ) {
                        this.titleMessage = TITLE_DOUBLEPLAN
                    }

                    break;
                case 2:
                    this.titleMessage = 'Ingresa tus datos y continua';
                    
                    break;
                case 3:
                    this.titleMessage = 'Ahora ind&iacute;canos tu direcci&oacute;n<br>donde instalaremos los servicios hogar';
                    if( isMobile ) {
                        this.titleMessage = 'Ind&iacute;canos la direcci&oacute;n de instalaci&oacute;n';
                    }
                    break;
                default:
                    this.titleMessage = 'Ind&iacute;canos cómo quieres obtener tu plan móvil';
                    break;
            }
        }
    }
}

</script>

