$fontTelefonica: "telefonica";
$fontTelefonicaWeb: "TelefonicaWeb";

$blue1: #25a9e0;
$blue2: #219df4;
$blue3: #009df4;
$green1: #5bc501;
$gray1: #656565;
$gray2: #b7b9ba;
$gray3: #e6e9ed;
$gray4: #a9abac;
$gray5: #747474;
$red: #e04857;

$white: #fff;
$black: #000;

$lightyellow: #f8d2b3;
$yellow: #f28d15;
$darkyellow: #9f591f;

$lightorange: #f8cccc;
$orange: #ec624b;
$darkorange: #983230;

$lightpurple: #debce4;
$purple: #a13ea1;
$darkpurple: #642a72;

$lightpink: #fbc7de;
$pink: #e63780;
$darkpink: #922859;

$lightgreen: #bde4a4;
$green: #5cb615;
$darkgreen: #3c7521;

$blue: #019df4;
$darkblue: #0b2739;

$lightestgrey: #f5f5f5;
$lightergrey: #d3d4d3;
$lightgrey: #b6b7b7;
$darkgrey: #86888c;
$darkergrey: #50535a;
$darkestgrey: #313235;
