@font-face {
  font-family: "TelefonicaWeb";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TelefonicaWeb";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TelefonicaWeb";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TelefonicaWeb";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TelefonicaWeb";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TelefonicaWebHand";
  src: url("../fonts/telefonicaWeb/TelefonicaWeb-Hand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Telefonica";
  src: url("../fonts/TelefonicaFonts/Telefonica-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Telefonica";
  src: url("../fonts/TelefonicaFonts/Telefonica-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Telefonica";
  src: url("../fonts/TelefonicaFonts/Telefonica-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Telefonica";
  src: url("../fonts/TelefonicaFonts/Telefonica-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Telefonica";
  src: url("../fonts/TelefonicaFonts/Telefonica-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
