:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

body {
  background-color: #f5f5f5;
  &.success {
    main {
      background-color: $blue;
      padding-bottom: 0;
    }

    .form-container {
      display: none;
    }

    .success-container {
      display: block;
    }
  }

  &.sorry {
    main {
      background-color: $blue;
    }

    .form-container {
      display: none;
    }

    .sorry-container {
      display: block;
    }
  }
}

main {
  background-color: #f5f5f5;
  background-size: cover;
  position: relative;
  background-position: center top;
  padding: 20px 0 55px 0;
  font-family: $fontTelefonica;
}

.mobile-success,
.transparent-container,
.sorry-container {
  margin: 0 auto;
}

.logo-movistar{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.form-container {
  width: 90%;
  max-width: 800px;
  background: white;
  box-shadow: 0px 1px 3px #8a959e3d;
  padding: 0 100px 50px;
  border-radius: 8px;
  margin: 0 auto 50px;

  .form-step {
    display: none;

    &.active {
      display: block;
    }
  }

  .form-header {
    text-align: center;
    color: $gray1;
    margin-bottom: 25px;
    position: relative;
    width: calc(100% + 200px);
    left: -100px;
    top: 0;

    p {
      font-size: 18px;
      color: $darkergrey;
    }

    .banner {
      width: 100%;
      height: 74px;
      background-color: #ebf7ff;
      border-radius: 8px 8px 0 0;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 30px;
      position: relative;

      .arrow-back {
        position: absolute;
        top: calc(50% - 7px);
        left: 30px;
        width: 18px;
        height: 16px;
        cursor: pointer;

        &.desk {
          display: block;
        }

        &.mob {
          display: none;
        }
      }
    }
  }

  .form-group {
    width: 356px;
    margin: 0 auto 29px;

    &:last-of-type {
      margin-bottom: 0px;
      //margin-bottom: 54px;
      p {
        margin-bottom: 0 !important;
      }
    }

    label {
      text-transform: uppercase;
      font-size: 14px;
      position: absolute;
      background-color: white;
      left: 15px;
      left: 12px;
      top: calc(50% - 8px);
      top: 14.5px;
      transition: all 0.1s ease-in-out;
      z-index: 2;
      pointer-events: none;
    }

    input,
    textarea,
    select {
      font-family: $fontTelefonica;
      width: 100%;
      height: 46px;
      padding: 12px;
      border: none;
      border-radius: 4px;
      outline: 0;
      font-size: 14px;
      color: #313235;
      transition: all .3s ease;

      &::placeholder {
        font-size: 14px;
        color: $lightgrey;
        vertical-align: top;
      }

      &.data{
        padding-left: 12px!important;
      }

      &.input-padding-l-50{
        padding-left: 50px;
      }

      &.input-padding-l-60{
        padding-left: 60px;
      }

      &.input-padding-l-65{
        padding-left: 65px;
      }

      &.input-padding-l-75{
        padding-left: 75px;
      }

      &.input-padding-l-80{
        padding-left: 80px;
      }

      &.input-padding-l-85{
        padding-left: 85px;
      }

      &.input-padding-l-125{
        padding-left: 125px;
      }

      &.input-padding-l-140{
        padding-left: 140px;
      }

      &.input-padding-l-145{
        padding-left: 145px;
      }

      &.input-padding-l-150{
        padding-left: 150px;
      }

      &.input-padding-l-165{
        padding-left: 165px;
      }

      &.input-padding-l-170{
        padding-left: 170px;
      }

      &.input-padding-l-190{
        padding-left: 190px;
      }

      &.input-padding-l-200{
        padding-left: 200px;
      }

      &.input-padding-l-210{
        padding-left: 210px;
      }

      &:focus {
        border: solid 1px $blue3;
        outline: $blue3;
        padding-left: 12px;
      }

    }

    textarea {
      height: 130px;
    }

    select {
      appearance: none;
      position: relative;
      background-image: url(/img/ico-arrow-select.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      color: #B6B7B7;

      &:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
      }
      
      &.data,
      &:focus {
        color: #50535a!important;
      }
    }

    span {
      color: $orange;
      font-size: 12px;
      text-align: right;
      margin-top: 4px;
      display: none;
    }

    .input {
      border: solid 1px $gray3;
      border-radius: 4px;
      position: relative;

      &.label-top {
        label {
          top: 12px;
        }
      }

      &.active {
        label {
          top: -8px;
        }
      }
    }

    &.error {
      >span {
        display: block;
      }
      &.form-radio{
        span {
          display: block;
        }
      }

      >.input {
        border-color: $orange;
      }
    }

    &--direccion{
      background-color: #F8F8F8;
      border-radius: 4px;
      margin-bottom: 40px;
      
      input[type='checkbox']{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 24px;
      }
      input[type='checkbox']:checked + .checkbox-cont .checkbox-mask{
        border: 1px solid #5cb615;
        background-image: url(/img/ico-check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }
      input[type='checkbox'][disabled] + .checkbox-cont .checkbox-mask{
        background-color: #dfdfdf;
      }
      >.field-error{
        position: relative;
        top: 25px;
      }
      .checkbox-cont{
        background: none;
        position: static;
        text-transform: none;
        display: flex;
        align-items: center;
      }
      .checkbox-mask{
        width: 24px;
        height: 24px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #B6B7B7;
        position: static;
        margin-right: 8px;
        display: block;
      }
      .checkbox-text{
        margin: 0;
        font-size: 14px;
        color: #50535A;
        strong {
          font-weight: bold;
        }
      }
      hr{
        border: 1px solid #E9EAE8;
      }
    }
  }

  .form-check{
    display: flex;
    align-items: center;
    padding: 18px 5px 16px 11px;
    position: relative;
  }

  .custom-radio {
    width: 32px!important;
    height: 32px!important;
    position: relative;

    label {
      width: 32px!important;
      height: 32px!important;
      border: 1px solid #b6b7b7;
      background-color: white !important;
      position: static !important;
      border-radius: 50%;
    }
    input {
      width: 32px!important;
      height: 32px!important;
      opacity: 0;
      position: absolute;
      &:checked {
        & + label {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $blue;
            width: 22px;
            height: 22px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .form-radio {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    &.border {
      p {
        font-weight : bold;
      } 
      @media (max-width: 768px) {
        position: relative;
        background-color: #F5F5F5;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 6px;
          height: 100%;
          background-color: #5CB615;
        }
        .left{
          background-color: #F5F5F5;
        }
        p{
          font-weight: bold!important;
        }
      }
      @media (min-width: 769px) {
        border: 3px solid #019df4;
        border-radius: 8px;
      }
    }
    .input{
      margin-top: 10px;
      @media (min-width: 769px) {
        margin-top: 18px;
      }
    }

    > .left {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f1eaea;
      flex: 1 1 15%;
    }
    > .right {
      align-items: center;
      justify-content: center;
      flex: 1 1 85%;
      padding: 20px;
      border: 2px solid #f5f5f5;
      > p {
        //font-weight: bold;
      }
    }
    .radio {
      width: 25px;
    }
  }
  .button-container {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 40px;

    button {
      display: block;
      background: $blue;
      color: white;
      border-radius: 50px;
      box-shadow: none;
      border: none;
      padding: 18.5px 15px;
      font-size: 16px;
      font-weight: bold;
      max-width: 220px;
      cursor: pointer;
      text-align: center;
      min-height: 56px;
      width: 100%;
      font-family : $fontTelefonica;
      &:focus {
        outline: none;
      }

      &:disabled {
        background: $gray2;
        color: $gray1;
      }
    }

    .form-error {
      color: $orange;
      font-size: 12px;
      margin-top: 10px;
      display: none;

      &.active {
        display: block;
      }
    }

    &.loading {
      button {
        span {
          display: none;
        }
      }

      .loader {
        display: block;
      }
    }
  }
}

.success-container,
.sorry-container {
  display: none;
  text-align: center;
  color: white;

  h1 {
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 40px;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }

  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid white;
    opacity: 0.25;
    outline: none;
  }

  img {
    width: 140px;
    margin-bottom: 10px;
  }

  a {
    background: white;
    color: $blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    padding: 18px 50px;
    outline: none;
    max-width: 310px;

    img {
      width: 30px;
      margin: 0 14px 0 0;
    }
  }
}

.mobile-success,
.sorry-container {
  padding: 80px 0 100px;
  max-width: 460px;
}

.landline-success {
  .transparent-container {
    max-width: 460px;
    padding: 46px 0;

    p {
      max-width: 300px;
    }

    img {
      width: 180px;
    }
  }

  .white-container {
    width: 100%;
    background: white;
    color: $darkgrey;
    padding: 40px 18px 70px;

    p {
      font-size: 14px;
    }

    a {
      background: $blue;
      color: white;
    }
  }
}

.loader {
  margin: 10px auto;
  font-size: 5px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.1s infinite ease;
  animation: load 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
}

@keyframes load {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.form-container.step-1{
  .hide-step-1-mobile{
    display: block;
  }
}

.form__title-mobile{
  display: none;
}



@media (max-width: 990px) {
  .form-container {
    padding: 0 50px 50px;

    .form-header {
      width: calc(100% + 100px);
      left: -50px;
    }
  }
}

@media (max-width: 768px) {
  main {
    padding: 0;
  }

  .logo-movistar{
    display: none;
  }

  .form-container {
    padding: 0 20px 20px;
    width: 100%;
    margin: 0;

    .form-header {
      width: calc(100% + 40px);
      left: -20px;
      padding: 25px 14px 14px 14px;
      margin-bottom: 30px;
      background: $blue;
      position: relative;

      .banner {
        background: none;
        height: auto;
        margin: 0;
        padding: 0;
        position: static;

        p {
          font-size: 14px;
          opacity: 0.75;
        }

        b {
          font-weight: normal;
        }

        .arrow-back {
          &.desk {
            display: none;
          }

          &.mob {
            display: block;
          }
        }
      }

      .form-header__subtitle-mobile{
        font-weight: bold;
      }

      p {
        color: $white;
        font-size: 16px;
      }
    }

    .form-group {
      flex-wrap: wrap;
      width: 100%;

      > label {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
      }

      .input {
        width: 100%;
      }

      &.two-inputs {
        label {
          width: calc(50% - 10px) !important;
          &:nth-of-type(1) {
            order: 1;
          }
          &:nth-of-type(2) {
            order: 2;
          }
        }

        .input {
          width: calc(50% - 10px);
          &:nth-of-type(1) {
            order: 3;
          }
          &:nth-of-type(2) {
            order: 4;
          }
        }
      }
    }

    .form-radio {
      margin-bottom: 0;
      height: 120px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: white;
      &:first-of-type{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; 
      }
      &:last-of-type{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.border{
        &:first-of-type{
          .left{
            align-items: flex-start;
            padding-top: 20px;
          }
        }    
      }
      > .left {
      background-color: white;
      }
      > .right {
        border: none;
        align-self: center;
        > p {  
        font-weight: 400;
        }
      }
    }
  }

  .success-container,
  .sorry-container {
    margin: 0 auto;
    width: 100%;
    max-width: none;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }

    img,
    .transparent-container img {
      width: 100px;
    }
  }

  .form-container.step-1{
    background-color: $blue;
    border-radius: 0;
    min-height: 100vh;
    .form__title-mobile{
      display: block;
    }
    .button-white-mobile{
        background-color: white!important;
        color: $blue!important;
    }
    .hide-step-1-mobile{
      display: none;
    }
  }

  .form__title-mobile{
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

@media (max-width: 566px) {
  .form-container {
    .form-header {
      .banner {
        .arrow-back {
          left: 16px;
        }
      }
    }

    .button-container {
      width: 100%;
      button {
        min-width: auto;
      }
    }
  }

  .mobile-success,
  .sorry-container {
    padding: 50px 30px;

    a {
      padding: 18px 30px;
    }
  }

  .landline-success {
    .transparent-container {
      padding: 50px 40px 14px;
    }
  }
}

