<template>
    <section>
        <packfull 
            :isPlanBEnabled="planB" 
            :isPayloadValid="payloadValid" 
            :planPrice="planPrice"
            :planPriceWithDiscount="planPriceWithDiscount"
            :planDetails="planDetails"
            :homeland="homeland"
            :payloadErrors="payloadErrors"
            :legalText="legalText"
            />
    </section>
</template>

<script>
window.placeholderMovistar = function() {

        // ----Label animation----
    const floatLabel = (() => {
        // Add active class and placeholder
        const handleFocus = (e) => {
            const target = e.target;
            target.parentNode.classList.add("active");
            target.setAttribute("placeholder", target.getAttribute("placeholder"));
        };

        // Remove active class and placeholder
        const handleBlur = (e) => {
            const target = e.target;
            if (!target.value) {
            target.parentNode.classList.remove("active");
            }
            //target.removeAttribute("placeholder");
        };

        // register events
        const bindEvents = (element) => {
            const floatField = element.querySelector("input, select, textarea");
            floatField.addEventListener("focus", handleFocus);
            floatField.addEventListener("blur", handleBlur);
        };

        // get DOM elements
        const init = () => {
            const floatContainers = document.querySelectorAll(".form-group .input");
            floatContainers.forEach((elem) => {
            if (elem.querySelector("input, select, textarea").value) {
                elem.classList.add("active");
            }

            bindEvents(elem);
            });
        };
        return { init: init };
    })();

    setTimeout(()=>{
        floatLabel.init();
    },350);
    

}


import packfull from './components/formularios/packfull.vue';

export default {
    components : {
       'packfull' :packfull 
    },
    data() {
        return {
            planB:                 _PLANB,
            payloadValid:          _PAYLOAD_VALID,
            planPrice:             _PLANPRICE,
            planPriceWithDiscount: _PLANPRICEWITHDISCOUNT,
            planDetails:           _PLANDETAIL,
            homeland:              _HOMELAND,
            payloadErrors:         _PAYLOAD_DISPLAY_ERRORS,
            legalText:             _LEGAL_TEXT
        }
    }
}
</script>
