<template>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Descarga de solicitudes</h2>
            <p>Puede descargar las solicitudes entre dos fechas. El archivo descargado sera un .csv.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                   
                    <div class="form-group">
                        <input v-on:change="validateDates" v-model="initDate" :max="maxDate" type="date" name="initDate" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <input v-on:change="validateDates" type="date" :max="maxDate" v-model="endDate" name="endDate" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                </div>
            </div><!-- ./row -->
            
        </div><!-- .col-md-12-->
        
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input :disabled="invalidDates" v-on:click.prevent="downloadFile"  id="solicitud" type="submit" class="btn btn-success" value="Generar descarga">
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="alert alert-danger loading" v-show="invalidDates && (initDate != null && endDate != null)" style="text-align:center;">
                        <p>Las fechas seleccionadas no son validas y la fecha inicial es mayor a la final.</p>
                    </div>


                    <div class="alert alert-success loading" v-show="loadingAction" style="text-align:center;">
                        <p>Se esta generando el archivo, espere un momento.</p>
                    </div>

                    <div class="alert alert-warning error-download" v-show="errorAction" style="text-align:center;">
                        <p>No se ha podido generar el archivo. Puede que no se haya encontrado resultados.</p>
                    </div>

                    <div class="alert alert-success downloadFile" v-show="fileShow" style="text-align:center;">
                        <a v-on:click.prevent="forceDownload" class="download" href="javascript:;">Puede descargar aqui el archivo.</a>
                    </div>

                    <div class="alert alert-success downloadFile" v-show="createDownload" style="text-align:center;">
                        <p>Espere un momento</p>
                    </div>


                </div>
            </div>
            
        </div>

    </div>

    <div v-show="false">
        <a ref="openLink" target="_blank" :href="fileDownloadUrl"></a>
    </div>


</div>



</template>

<script>
import moment from 'moment'

export default {
    data() {
        return {
            initDate : null,
            endDate  : null,
            maxDate : moment().format('YYYY-MM-DD'),
            csrf: null,
            fileDownloadUrl: null,
            fileShow : false,
            fileName : null,
            loadingAction : false,
            errorAction : false,
            createDownload : false,
            invalidDates : false
        }
    },
    methods : {
        downloadFile() {
            this._generateFile()
        },

        validateDates() {

            

            if (this.initDate == null  || this.endDate == null) {
                
                this.invalidDates = true;
                return false;
            }

            if (this.initDate != null && this.endDate != null) {
                let dateInit = moment(this.initDate)
                let dateEnd = moment(this.endDate)

                if (dateEnd < dateInit) {
                    
                    this.invalidDates = true;
                    return true;
                } else {
                    this.invalidDates = false;
                    return false
                }
            }
        },

        forceDownload() {
            const ENDPOINT = CHECK_DOWNLOAD_URI

            const data = {
                file : this.fileName,
                _token : this.csrf
            };

            this.loadingAction = false;
            this.errorAction = false;
            this.createDownload = true;
            this.fileShow = false;

            axios
                .post(ENDPOINT, data)
                .then( ( response ) => {
                    if (response.data.success) {
                        this.$refs.openLink.click();
                    } else {
                        this.errorAction = true;
                    }
                } ).catch(()=>this.errorAction = true).finally(()=>{
                    this.loadingAction = false;
                    this.fileShow = false;
                    this.createDownload = false;
                    })

        },

        _generateFile() {
            const ENDPOINT = URLFILEREPORT; // param obtenido de donde invoca este componente
            
            let datos = {
                initDate : this.initDate,
                endDate  : this.endDate,
                _token   : this.csrf
            };

            this.loadingAction = true;
            this.errorAction = false;

            axios
                .post( ENDPOINT , datos )
                .then( ( response ) => {
                    
                    if ( response.data.success ) {
                        let file = response.data.file;
                        const downloadFileURL = DOWNLOAD_URI.replace('tmp.txt', file);

                        this.fileDownloadUrl = downloadFileURL;
                        this.fileName = file;

                        this.fileShow = true;
                    } else {
                        this.errorAction = true;
                    }


                } ).catch(()=>this.errorAction = true)
                    .finally(() => this.loadingAction = false)
        },

        getMetaToken() {
            const metas = document.querySelector('meta[name=csrf-token]').content;
            this.csrf = metas;
        }

        
    },
    created() {
        this.$nextTick(this.getMetaToken);
    }
}
</script>